.weekdays {
    width: 100%;
    display: flex;
}
.weekdays div {
    width: 100px;
    padding: 10px;
}
.calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.container {
    width: 770px;
    border: solid 2px black;
}
.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #cbd4c2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.padding {
    cursor: default !important;
    background-color: #fffcff !important;
    box-shadow: none !important;
}
.rdv {
    font-size: 11px;
}

.calendarbox {
    display: flex;
}
.rdvbox {
    width: 400px;
    border: solid 2px black;
}
.rdvday {
    text-align: center;
}
