<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Calendar</title>
        <link rel="stylesheet" href="./styles/calendar.css" />
        <!-- <script type="module" src="./js/calendar_controleur.js"></script>
        <link rel="stylesheet" href="./styles/calendar.css" /> -->
        <script type='importmap'>
            {
              "imports": {
                "@fullcalendar/core": "https://cdn.skypack.dev/@fullcalendar/core@6.1.15",
                "@fullcalendar/daygrid": "https://cdn.skypack.dev/@fullcalendar/daygrid@6.1.15",
                "@fullcalendar/timegrid": "https://cdn.skypack.dev/@fullcalendar/timegrid@6.1.15",
                "@fullcalendar/list": "https://cdn.skypack.dev/@fullcalendar/list@6.1.15"


              }
            }
          </script>
          <script type="module" src="./js/calendar_controleur.js"></script>

          <link rel="stylesheet" href="./fullcalendar/styles/calendar.css" />
          
    </head>
    <body>
        <div class="listAgenda" id="listAgenda">
            <div class="msgAgenda" id="msgAgenda"></div>
            <select class="selectionAgenda" id="selectionAgenda"></select>
            <div class="agendasSelectionnes" id="agendasSelectionnes"></div>
        </div>
        <h1>Calendar</h1>
    <div id="calendar"></div>
    
    </body>
</html>
