<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <body>
      <h3>Connexion</h3>
        <form method="post">
            <label for="username">Nom d'utilisateur</label>
            <input id="username" type="text" name="username" required/><br />
    
            <label for="password">Mot de passe</label>
            <input id="password" type="password" name="password" required />
            <br>
    
            <input type="submit" value="Envoyer" id="connexionSubmit" />
          </form>
        <% if (locals.errMsg) { %>
            <% "<p>" %><%= errMsg %><% "</p>" %>
            <% }%>

  </body>
</html>
