<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script>
            function hideForm(){
                document.getElementById("formAgenda").hidden = true;
                document.getElementById("buttonAgenda").hidden = false;
                document.getElementById("annulerAgenda").hidden = true;
            }

            function showForm(){
                document.getElementById("formAgenda").hidden = false;
                document.getElementById("buttonAgenda").hidden = true;
                document.getElementById("annulerAgenda").hidden = false;
            }
        </script>
        <title>Index</title>
    </head>
    <body>
    <h1>Idayari</h1>
    <button id="buttonAgenda" onclick="showForm()">Créer agenda</button>
    <form method="post" id="formAgenda" hidden>
        <label for="nom">Nom de l'agenda</label>
        <input id="nom" type="text" name="nom">

        <input type="submit">

        <button id="annulerAgenda" onclick="hideForm()">Annuler</button>
    </form>
    </body>
</html>