<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('partials/head.ejs') %>
        <link href="/css/index.css" rel="stylesheet">
    </head>
    <body>
        <div class="container text-center mt-5 d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-4 fw-bold">Erreur <%= status %></h1>
            <p class="lead"><%= message %></p>
            <img src="/img/lost.svg" alt="lost" class="img-fluid">
            <a href="/" class="btn btn-primary mt-3 text-white">Retour à l'accueil</a>
        </div>
    </body>
</html>
