<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Idayari</title>
  </head>
  <body>
    <h1>Idayari</h1>
    <% if (locals.user) { %>
    <div>
      <a href="/deconnexion" class="button">Se déconnecter</a>
    </div>
    <p>Bienvenue, <%= locals.user.username %>.</p>
    <div>
      <a href="/creerAgenda" class="button">Créer un agenda</a>
    </div>
    <%} else{ %>
    <div>
      <a href="/connexion" class="button">Se Connecter</a>
      <a href="/inscription" class="button">S'inscrire</a>
    </div>

    <%} %>
  </body>
</html>
