<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('partials/head.ejs', {title: "Idayari"}) %>
		<link href="/css/index.css" rel="stylesheet">
		<% if (locals.user) { %>
			<link href="/css/agenda_display.css" rel="stylesheet"></link>		
		<% } %>
	</head>

	<body class="container flex-column d-flex min-vh-100 min-vw-100 m-0 p-0" data-bs-theme="light">
		<% if (locals.user) { %>
			<%- include('index_connecte.ejs') %>
		<%} else{ %>
			<%- include('index_non_connecte.ejs') %>	
		<% } %>
		<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
