<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Idayari</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1>Idayari</h1>
    <% if (locals.user) { %>
    <div>
      <a href="/deconnexion">Se déconnecter</a>
    </div>
    <p>Bienvenue, <%= locals.user.username %>.</p>
    <div>
      <a href="/creerAgenda">Créer un agenda</a>
      <a href="/rendezvous/new">Ajouter un rendez-vous</a>
    </div>
    <div>
      <h2>Vos agendas</h2>
      <ul>
        <% for (const agenda of locals.agendas) { %>
          <li>
            <h3><%= agenda.nom %></h3>
          <ul>
            <% const rendezVous = await agenda.getRendezVous(); %>
            <% for (const rv of rendezVous) { %>
              <li><%= rv.titre %></li>
              <% } %>
          </ul>
          </li>
          <% } %>
      </ul>
    </div>
    <div>
      <a href="/infos_perso" class="button">Mes informations personnelles</a>
    </div>
    <%} else{ %>
    <div>
      <a href="/connexion">Se Connecter</a>
      <a href="/inscription">S'inscrire</a>
    </div>
    <%} %>
  </body>
</html>
