<%- include('partials/header.ejs') %>
<div class="row min-vw-100 p-0 m-0 h-100 flex-grow-1" >
    <nav class="col col-2 nav flex-grow-1 p-0 text-break bg-light">
        <div class="w-100 h-fit-content">
            <div class="nav-link text-secondary px-3 py-2 d-flex justify-content-between align-items-center">
                <span>Vos agendas</span>
                <input type="checkbox" title='Tout (dé)sélectionner' id="selectAll" <%= locals.all_selected ? "checked" : "" %>>
                <button class="btn" id="newAgenda">
                    <span class="bi bi-calendar-plus" title="Nouvel Agenda" role="img"></span>
                </button>
            </div>
            <ul id="agendaList" class="list-group px-3 listAgenda align-self-end">
                <% for (const agenda_id of Object.keys(agendas)) { %>
                    <%- include('partials/agenda.ejs', {agenda: agendas[agenda_id], id: agenda_id }) %>
                <% } %>
            </ul>
            <% if (received_agendas) { %>
                <div class="nav-link text-secondary px-3 py-2 d-flex justify-content-between align-items-center">
                    <span>Agendas reçus</span>
                </div>
                <ul id="received_agendas" class="list-group px-3 align-self-end">
                    <% for (const agenda_id of Object.keys(received_agendas)) { %>
                        <% const agenda = received_agendas[agenda_id]; %>
                        <%- include('partials/shared_agenda.ejs', {nom: agenda.nom, idAgenda: agenda_id, o_username: agenda.o_username }) %>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </nav>
    <div class="col col-10 p-3 d-flex flex-column">
        <div id="calendar"></div>
    </div>
</div>
<script>
    /**
     * Fonction qui change la taille de la liste des agendas en fonction de la taille de la fenetre
     */
    function adjustListHeight() {
        const listAgenda = document.querySelector('.listAgenda');
        let fact = window.innerHeight > 700 ? 0.75 : 0.5;
        listAgenda.style.maxHeight = `${window.innerHeight * fact}px`;
    }

    window.addEventListener('load', adjustListHeight);
    window.addEventListener('resize', adjustListHeight);
</script>
<script type='importmap'>
    {
      "imports": {
        "@fullcalendar/core": "https://cdn.skypack.dev/@fullcalendar/core@6.1.15",
        "@fullcalendar/daygrid": "https://cdn.skypack.dev/@fullcalendar/daygrid@6.1.15",
        "@fullcalendar/timegrid": "https://cdn.skypack.dev/@fullcalendar/timegrid@6.1.15",
        "@fullcalendar/list": "https://cdn.skypack.dev/@fullcalendar/list@6.1.15",
        "@fullcalendar/bootstrap5": "https://cdn.skypack.dev/@fullcalendar/bootstrap5@6.1.15",
        "@fullcalendar/interaction": "https://cdn.skypack.dev/@fullcalendar/interaction@6.1.15"
      }
    }
</script>
<script src="/ejs/ejs.js"></script>
<script type="module" src="./js/calendar_controleur.js"></script>
<script type="module" src="./js/script_agenda.js"></script>