<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
  </head>
  <body>
    <h1>Idayari</h1>
    <% if (locals.user) { %>
    <p>Vous êtes connecté : <%= locals.user.username %></p>
    <div>
      <a href="/deconnexion" class="button">Se déconnecter</a>
    </div>
    <div>
      <a href="/infos_perso" class="button">Mes informations personnelles</a>
    </div>
    <%} else{ %>
    <div>
      <a href="/connexion" class="button">Se Connecter</a>
    </div>

    <%} %>
    <p>Ceci est l'index.</p>
  </body>
</html>
