<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Informations personnelles</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>

    <!-- File for header -->
    <%- include('partials/header.ejs') %>
    <% if(locals.errMsg) { %>
        <div class="alert alert-danger alert-dismissible fade show w-100" role="alert" style="z-index: 1050;">
            <%= errMsg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    
    <% } %>   
    <% if(locals.succesMsg) { %>
        <div class="alert alert-success alert-dismissible fade show w-100" role="alert" style="z-index: 1050;">
            <%= succesMsg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    
    <% } %>   
    
    <!-- Rest og the page -->
    <div class="px-4">

        <!-- Title and subtitle  -->
        <div class="mb-5">
            <h1 class="pt-4 fs-3">Voici vos informations personnelles</h1>
            <h2 class="fs-5 fw-light">Vous pouvez consulter/modifier chacunes de vos informations ci-dessous</h2>
        </div>

        <!-- Form -->
        <form method="post" id="mainForm" class="d-flex flex-column flex-md-row column-gap-5">

            <!-- Username -->
            <div class="w-100 w-md-50" >
                <label for="username_change_info">Nom d'utilisateur</label>
                <div class="d-flex justify-content-start align-items-center column-gap-3">
                    <input id="username_change_info" type="text" name="user_username_change_info" value="<%= locals.user.username%>" disabled="" class="form-control" style="max-width: 600px;">
                    <img src="/img/pen.png" alt="pen" onclick="modifyUsername()" width="24" height="24" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Modifier votre nom d'utilisateur" style="cursor: pointer;">
                </div>
            </div>

            <!-- Password & confirmation -->
            <div class="w-100 w-md-50 d-flex flex-column colum row-gap-3" >
                
                <!-- Password -->
                <div>
                    <label for="password_change_info">Nouveau mot de passe</label>
                    <div class="d-flex justify-content-start align-items-center column-gap-3">
                        <input id="password_change_info" type="password" name="user_password_change_info" placeholder="**********" disabled="" class="form-control" style="max-width: 600px;" minlength="8">
                        <img src="/img/pen.png" alt="pen" onclick="modifyPassword()" width="24" height="24" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Modifier votre mot de passe" style="cursor: pointer;">
                        <img src="/img/oeil.png" alt="show password" id="togglePassword2" width="24" height="24" style="cursor: pointer;" class="d-none">
                    </div>
                </div>

                <!-- Confirmation  -->
                <div id="div_confirmationpswd_change_info" style="display: none; max-width: 600px;">
                    <label for="confirmationpswd_change_info">Confirmer le nouveau mot de passe</label>
                    <div class="d-flex justify-content-start align-items-center column-gap-3">
                        <input id="confirmationpswd_change_info" type="password" name="user_confirmationpswd_change_info" placeholder="**********" class="form-control" style="max-width: 600px;" minlength="8">
                        <img src="/img/oeil.png" alt="show password" id="togglePassword3" width="24" height="24" style="cursor: pointer;">
                    </div>

                </div>
                <div id="errorMessage"></div>
                <input type="hidden" id="hidden_password_confirmation" name="user_password_change_info_confirmation_hidden" >
            </div>
        </form>

        <!-- Confirmation change with write password -->
        <div id="confirm_password" style="display: none" class="mt-5">

            <h3 class="fs-4">Entrez votre mot de passe actuel pour confirmer les modifications</h3>
            <div class="d-flex flex-column column-gap-3">

                <label for="password_change_info">Mot de passe</label>
                <div class="d-flex align-items-center column-gap-3" >

                    <input id="password_change_info_confirmation" type="password" name="user_password_change_info_confirmation" class="form-control" required style="max-width: 600px;">
                    <img src="/img/oeil.png" alt="show password" id="togglePassword" width="24" height="24" style="cursor: pointer;">
                </div>
            </div>

            <span id="information_confirmation"></span>
            
            <div>
                <button type="submit" id="changeInfoSubmitComfirmation"onclick="return sendData()" class="btn btn-primary text-white">Envoyer</button>
                <button type="button" onclick="window.location.href = '/infos_perso'" class="btn btn-secondary text-white">Annuler</button>
            </div>
        </div>
        
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/infos_perso.js"></script>

</body>
</html>