<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Inscription</title>
</head>
<body>
    <h3>Création de compte</h3>
    <% if (locals.errMsg) { %>
    <% "<p>" %><%= errMsg %><% "</p>" %>
    <% }%>
    <form method="post">
        <label for="username">Nom d'utilisateur</label>
        <input id="username" type="text" name="user_username" maxlength="100" required><br>

        <label for="password">Mot de passe</label>
        <input id="password" type="password" name="user_password" minlength="8" onfocus="clearMessage()"  onblur="verifierMdp1()" required><br>

        <label for="confirmationpswd">Confirmer le mot de passe</label>
        <input id="confirmationpswd" type="password" name="user_confirmationpswd" onfocus="clearMessage()" onblur="verifierMdp()" required><br>
        <div id="errorMessage"></div><br>

        <input type="submit" value="Envoyer" id="inscriptionSubmit">
    </form>
    <script src="/js/inscription.js"></script>
</body>
</html>