<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Modifier l'agenda</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body>
    <h1>Modification de <%= agenda.nom %></h1>
    <% if(locals.errMsg) { %><% "<p>" %><%= errMsg %><% "</p>" %><% }%>
    <div>
        <form method="post">
            <label for="agenda_name">Nom</label>
            <input id="agenda_name" type="text" name="agenda_name" value="<%= agenda.nom %>">

            <button type="submit">Envoyer</button>
            <button type="button" onclick="window.location.href = '/'">
                Annuler
            </button>
        </form>
    </div>
</body>

</html>