<dialog id="viewDialogCreationAgenda">
    <form method="POST" action="/agenda/new">
        <label for="nom">Nom de l'agenda</label>
        <input type="text" id="nom" name="nom" required><br>
        <input type="submit" value="Envoyer">
    </form>
    <button id="fermerDialogCreationAgenda">Annuler</button>
</dialog>