<dialog id="viewDialogCreationAgenda">
    <form method="POST" id="new_agenda_form">
        <label for="new_agenda_nom">Nom de l'agenda</label>
        <input type="text" id="new_agenda_nom" name="nom" required><br>
        <input type="submit" value="Envoyer">
    </form>
    <button id="fermerDialogCreationAgenda">Annuler</button>
</dialog>