#calendar {
    width:100%;
    margin-left: auto;
}

.fc-toolbar {
    font-size: 0.85em;
}

.mr {
    margin-right: 10px;
}
.searchRdv {
    border-radius: 6px;
    border: solid grey 0.3px;
    padding-left:8px;
    height:37px;
}