#calendar {
    width:100%;
    margin-left: auto;
}

.fc-toolbar {
    font-size: 0.85em;
}

.mr {
    margin-right: 10px;
}
.searchRdv {
    height:37px;
    margin-right:30px;
    width:250px;

.fc-toolbar button, .fc-toolbar button.active, .fc-toolbar button:hover, .fc-toolbar button:disabled {
    color: white !important;

}