.w-fit-content{
    width: fit-content;
}

.w-max-content{
    width: max-content;
}

.h-fit-content{
    height: fit-content;
}

.h-max-content{
    height: max-content;
}

.fill-height {
    min-height: max-content;
}

.logo {
    height: 36px;
}

.s-32 {
    width: 32px;
    height: 32px;
}

.s-x0-8 {
    width: 70%;
    height: auto;
}

@media (max-width : 768px){
    .s-x0-8 {
        width: 100%;
        height: auto;
    }
}

.top-25 {
    top: 10%;
}

.fs-7 {
    font-size: 14px;
}

.mb-8 {
    margin-bottom: 32px;
}

.card-custom {
    width: 22rem;
    height: fit-content; 
    border: 0; 
    background-color: transparent;
}

.my-8 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.offcanvas-backdrop.show {
    opacity: 0 !important;
}

.listAgenda{
    max-height: 75vh;
    overflow:hidden;
    overflow-y:scroll;
}

@media (min-width: 769px){
    .w-md-50 {
        width: 50% !important;
    }
}

.btn-primary-hover:hover {
    color: #ffffff;
    background-color: rgb(119, 181, 218);
    border-color: rgb(111, 177, 215);
}

.cursor-pointer {
    cursor: pointer;
}


#confirmationModal2 .modal-content {
    border:solid 2px rgb(119, 181, 218);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
