<dialog id="dialogAgenda">
    <form method="POST" id="agenda_form">
        <label for="agenda_nom">Nom de l'agenda</label>
        <input type="text" id="agenda_nom" name="nom" value="<%= locals.nom ? locals.nom : "" %>" required>
        <br><br>
        <input class="btn border" type="submit" value="Envoyer">
        <button class="btn border" id="fermerDialogAgenda">Annuler</button>
    </form>
</dialog>