<nav class="navbar bg-primary px-4">
    <span class="g-0">
        <a class="navbar-brand fs-4 text-light fw-medium" href="/">
        <img class="logo" src="/img/favicon.ico"/>Idayari</a>
        <span class="navbar-brand text-light d-none d-lg-inline">Bienvenue, <%= locals.user.username %>.</span>
    </span>
    <span class="g-0">
        <a href="/infos_perso" class="text-white" style="text-decoration: none !important;"><img src="/img/user.png" alt="user" class="border-1 border-white rounded-5 border ms-3"></a>
    </span>
</nav>