<nav class="navbar bg-primary px-4">
    <span class="g-0">
        <a class="navbar-brand fs-4 text-light fw-medium" href="/">
        <img class="logo" src="/img/favicon.ico"/>Idayari</a>
    </span>
    <div class="d-flex ms-auto align-items-center" style="gap: 10px;">
        <% if (locals.search) { %>
            <div class="input-group searchRdv">
                <input type="text" class="form-control" placeholder="Rechercher..." id="searchRdv">
                <span class="input-group-text">
                  <i class="bi bi-search" id="searchButton"></i> 
                </span>
            </div>
        <% } %>
        <a href="/infos_perso" class="text-white me-2" style="text-decoration: none;">
            <img src="/img/user.png" alt="user" class="border-1 border-white rounded-5 border ms-3 align-self-center">
            <%= locals.username %>
        </a>
        <a class="deconnexion bi bi-door-closed text-light fs-3" href="/deconnexion"
           onmouseover="this.classList.remove('bi-door-closed'); this.classList.add('bi-door-open')"
           onmouseout="this.classList.remove('bi-door-open'); this.classList.add('bi-door-closed')">
        </a>
    </div>
</nav>

