<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Annuler"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="rendezvous_form" method="POST">
                    <div class="mb-3">
                        <label class="form-label">
                            <i class="bi bi-card-heading"></i>
                            <input type="text" class="form-control" placeholder="Titre du rendez-vous" name="titre" required>
                        </label>
                        <div class="invalid-feedback">
                            Champ obligatoire
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <i class="bi bi-geo-alt"></i>
                            <input type="text" class="form-control" placeholder="Lieu du rendez-vous" name="lieu">
                        </label>
                        
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <i class="bi bi-text-left"></i>
                            <textarea class="form-control" rows="3" name="description"></textarea>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><i class="bi bi-calendar"></i></label>
                        <select name="agendas" class="form-control" required>
                            <% for (const elem of locals.agendas) { %>
                                <option value="<%= elem.id %>"><%= elem.nom %></option>
                            <% } %>
                        </select>
                        <div class="invalid-feedback">
                            Champ obligatoire
                        </div>             
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <input type="checkbox" name="all_day" id="all_day">
                            Toute la journée
                        </label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <i class="bi bi-clock"></i>
                            <input type="date" class="form-control" name="startDate">
                            <input type="time" class="form-control" name="startTime">
                        </label>
                        <div class="invalid-feedback">
                            Champ obligatoire
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <input type="date" class="form-control" name="endDate">
                            <input type="time" class="form-control" name="endTime">
                        </label>
                        <div class="invalid-feedback">
                            Champ obligatoire
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>
                            <input type="checkbox" name="recurrent"> 
                            Récurrent ?
                        </label>
                        <div id="recurrent_div" style="display: none;">
                            <label> Toutes les 
                                <input class="form-control  me-2" type="number" min="1" name="frequence">
                                <select class="form-control w-fit-content" name="recurrence_type">
                                    <option value="Daily">Jour(s)</option>
                                    <option value="Weekly">Semaine(s)</option>
                                    <option value="Monthly">Mois</option>
                                    <option value="Yearly">Année(s)</option>
                                </select>
                            </label>
                            <label>S'arrête</label>
                            <select class="form-control w-fit-content h-fit-content me-2" name="end_recurrence">
                                <option value="0">Avant</option>
                                <option value="1">Après</option>
                                <option value="2">Jamais</option>
                            </select>
                            <input class="form-control h-fit-content" type="date" name="end_date_recurrence">
                            <input class="form-control h-fit-content" type="number" min="2" name="nb_occurrence" style="display: none;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal"  data-bs-dismiss="modal">Annuler</button>
                        <input type="submit" class="btn btn-primary btn-modal" value="Créer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>