<li class="li_agenda" id="agenda_<%= idAgenda %>">
    <span class="nom_agenda" title="<%= nom %>" style="margin-left: 10px;">
        <%= nom %>
    </span>
    <div style="margin-left: auto; margin-right: 5px; min-width: 80px; display: flex; justify-content: space-around;">
        <i class="bi bi-person-circle" title="<%= o_username %>"></i>
        <i class="bi bi-check-square" style="color: green; cursor: pointer;"></i>
        <i class="bi bi-x-square" style="color: red; cursor: pointer;"></i>
    </div>
</li>