<div class="modal fade" id="dialogRDVRec" tabindex="-1" aria-labelledby="dialogAgendaLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <% const verb = locals.action == "Suppression" ? "Supprimer" : "Modifier" %>
                <h6><%= locals.action %> de rendez-vous récurrents</h6>
                Quels rendez-vous <%= verb.toLowerCase() %> ?
                <br>
                <form method="POST" id="rec_rdv_form">
                    <div class="mb-3">

                        <label>
                            <input type="radio" name="which_event" value="this" required checked>
                            Ce rendez-vous
                        </label><br>
                        <label>
                            <input type="radio" name="which_event" value="all">
                            Tous les rendez-vous
                        </label>
                    </div>
                    <div>
                        <button type="button" class="btn btn-secondary text-white" id="closeDialogRDVRec" data-bs-dismiss="modal">Annuler</button>
                        <input type="submit" class="btn btn-primary ms-2 text-white" value="<%= verb %>">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>